<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/addTask">Add a new temporary task</a>
					<a href="/deleteTask">Delete a temporary task</a>
					<a href="/addTodoTaskPage">Add a permanent task</a>
					<a href="/searchUser">Search User</a>
					<a href="/logout">Logout</a>
				</nav>
			</header>
			<section>
				<h1>Dashboard of TodoApp v1.0 :)</h1>
				<h2>Welcome <strong> <%= user %> </strong> to your exclusive profile</h2>
			</section>
			<section>
				<% /* thead (table header) tbody (table body) tr (table row) td (table data_) */ %>
				<% /* th (header cell) */ %>
				<% if (tasks && tasks.length > 0) { %>
						<table border=1>
							<thead>
								<tr>
									<th>Id</th>
									<th>Tasks</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
							<% tasks.forEach((task, index) => { %>
								<tr>
									<td> <%= index + 1 %> </td>
									<td> <%= task %> </td>
									<td>
										<form action="/buttonUpdateTask/<%= task %>" method="GET">
											<button>Update</button>
										</form>
										<form action="/buttonDeleteTask" method="POST">
											<input type="hidden" name="task" value="<%= task %>">
										<button type="submit">Delete</button>
										</form>
									</td>
								</tr>
							<% }) %>
							</tbody>
						</table>
				<% } else { %>
					<p>No tasks found</p>
				<% } %>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
